.bonus
  .bonus__overlay.opacity-overlay
    picture.bonus__overlay-firstWoman.hide
      source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/win-woman-1.png")
      source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/win-woman-1.png")
      source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/win-woman-1-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/win-woman-1-mob.png")
      img(src="img/win-woman-1.png" alt="Favbet")
    picture.bonus__overlay-secondWoman.hide
      source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/win-woman-2.png")
      source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/win-woman-2.png")
      source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/win-woman-2-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/win-woman-2-mob.png")
      img(src="img/win-woman-2.png" alt="Favbet")
    .bonus__overlay-chip.overlayChip-1.hide
    .bonus__overlay-chip.overlayChip-2.hide
    .bonus__overlay-chip.overlayChip-3.hide
    .bonus__overlay-chip.overlayChip-4.hide
    .bonus__overlay-chip.overlayChip-5.hide
    .bonus__overlay-chip.overlayChip-6.hide
    .bonus__overlay-chip.overlayChip-7.hide
    .bonus__firstWin.hide
      .bonus__firstWin-info
        .bonus__firstWin-sum 366% #[span bonuses]
        .bonus__firstWin-title Wow, you have won:
        .bonus__firstWin-try 1 try left
        .bonus__firstWin-btn.btn Spin more
    .bonus__secondWin.hide
      .bonus__secondWin-info
        .bonus__secondWin-sum 366% #[span +] 155fs
        .bonus__secondWin-title You are a real star!
        .bonus__secondWin-try Register, make a deposit and take a bonus
        a(href="https://tds.mapps.center").bonus__secondWin-btn.btn Take a bonus
    .bonus__rules.hide
      .bonus__rules-close
      .bonus__rules-txt
        .bonus__rules-txt-title How to receive bonus #[span 366%] + #[span 155fs]?
        ul.bonus__rules-txt-list
          li.bonus__rules-txt-item Register on the website, if you are still not with us.
          li.bonus__rules-txt-item Top up your gaming account from 300 Inr.
          li.bonus__rules-txt-item Receive 111 free spins in the Sevens&Fruits game (Playson).
          li.bonus__rules-txt-item Also, bonus 111% to the deposit up to 25 000 inr is waiting for you.
          li.bonus__rules-txt-item If you make a deposit from 3000 inr, you will get 155 free spins in the Sevens&Fruits (Playson) game, as well as a 155% deposit bonus up to 50 000 inr.
          li.bonus__rules-txt-item Bonuses are activated in My Account in the “Deposit” section.
          li.bonus__rules-txt-item The bonus is valid for 30 days from the moment of registration.
          li.bonus__rules-txt-item To wager the bonus, you need to place bets in the amount of 35 times the amount of the bonus.
          li.bonus__rules-txt-item Wager x35 is credited both for the amount of bonus money and for bonus spins.
        .bonus__rules-txt-info Good luck!
  .bonus__main
    .bonus__main-name
      p Deepika Padukone
      p actress
    .bonus__main-logo
    .bonus__main-bubble.
      Hello. I am Deepika Padukone.#[br]
      Do you wish to play? Spin the wheel - you have two attempts. Good luck!
    .bonus__main-wrapper
      .bonus__main-txt spin#[br] and#[br] #[span win] #[span bonuses]
      .bonus__main-wheel
        .bonus__main-wheel-wrap
          .bonus__main-wheel-arrow.position
          .bonus__main-wheel-btn.position.pulse-btn
          .bonus__main-wheel-bulbs.position
          .bonus__main-wheel-frame
          .bonus__main-wheel-reel.position
          .bonus__main-wheel-light.position
          .bonus__main-wheel-bottom.position
      picture.bonus__main-woman
        source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/woman-main.png")
        source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/woman-main.png")
        source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/woman-main-mob.png")
        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/woman-main-mob.png")
        img(src="img/woman-main.png" alt="Favbet")
    .bonus__main-video
      video(muted loop autoplay).bonus__main-video-bg
    .bonus__footer
      .bonus__footer-rules How to receive a bonus
  .bonus__chip.chip-1
  .bonus__chip.chip-2
  .bonus__chip.chip-3
  .bonus__chip.chip-4
  .bonus__chip.chip-5
  audio(src='sounds/main.mp3' class='main-audio' loop)
  audio(src='sounds/wheel.mp3' class="wheel-audio")
  audio(src='sounds/popup.mp3' class="popup-audio")
  audio(src='sounds/click.mp3' class="click-audio")
